@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 38%, 92%);
}

body p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
    line-height: 20px;
}

body h1 {
    line-height: 30px;
    color: hsl(212, 21%, 14%);
}

.main {
    display: flex;
    margin: 2rem auto;
    background-color: hsl(0, 0%, 100%);
    max-width: 570px;
    height: 390px;
    border-radius: 8px;
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box-img {
    width: 350px;
}

.box-img img {
    width: 100%;
    background-image: url("images/image-product-desktop.jpg");
}

.box-content {
    margin: 8px 1rem;
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

.box-article {
    width: 100%;
    height: 100%;
}

.box-price {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.box-price h1 {
    color: hsl(158, 36%, 37%);
}

.box-price p {
    text-decoration: line-through;
    margin-left: 1rem;
}

.article-title {
    margin: 1rem 0;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.box-article h1 {
    font-family: 'Fraunces', serif;
    margin: 1rem 0;
}

.box-button {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
}

.box-button svg {
    margin-right: 10px;
}

.add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: hsl(0, 0%, 100%);
    background-color: hsl(158, 36%, 37%);
    border-radius: 8px;
    width: 100%;
    border-style: none;
    height: 45px;
    transition: all 0.25s ease;
}

.add-button:hover {
    transition: all 0.25s ease;
    background-color: rgb(18, 56, 43);
}

html {
    font-size: calc(60% + 0.8vmin);
}

@media screen and (max-width: 720px) {
    .main {
        width: 375px;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .box-img {
        width: 100%;
    }

    .box-img img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .box-content {
        width: 100%;
        margin: 0 auto;
        padding: 0 1.6rem;
    }

    .box-article {
        width: 100%;
        padding: 1rem 0;
    }
}